<!-- Contenido principal de la página -->
<main class="main-content">
    {{#if title}}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <h1 class="h3 mb-4">{{title}}</h1>
            </div>
        </div>
    </div>
    {{/if}}
    
    <!-- El contenido específico de cada página se renderiza aquí -->
    {{{body}}}
</main>